{% extends "base.html" %}
{% block content %}

<head>
<meta charset="utf-8">
<link rel="stylesheet" href="../static/css/seat_style.css">
<link rel="stylesheet" href="../static/css/floor_style.css">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Seat Reservation</title>
<style type="text/css">
</style>
</head>

{# get_flashed_messages() is auto sent to the template with the flash() call #}
{% for mess in get_flashed_messages()  %}
<div id="alertWin" class="alert alert-warning alert-dismissible fade show" role="alert">
  <button type="button" class="close" data-dismiss="alert" aria-label="Close" class="fade close">
    <span aria-hidden="true">&times;</span>
  </button>
  {{mess}}
</div>
{% endfor %}

<!-- Push Alert for occupied seats-->

<div id="t1">
  <div id="t2">
    <div id="t3">
      <ul id="menu">
        <a href="#t1"><li class="icon" id="f1">&nbsp &nbsp &nbsp &nbsp 1st F</li></a>
        <a href="#t2"><li class="icon" id="f2">&nbsp &nbsp &nbsp &nbsp 2nd F</li></a>
        <a href="#t3"><li class="icon" id="f3">&nbsp &nbsp &nbsp &nbsp 3rd F</li></a>
      </ul>

	<!--1st Floor: Import from floor/floor_1.html using "iframe" -->
      <div class="page" id="p1">
		<iframe align="right" width="100%" height="100%" src="/seat_reservation/floor_1" frameborder="0"> </iframe>
      </div>
	<!--2nd Floor: Import from floor/floor_1.html using "iframe" -->
      <div class="page" id="p2">
		<iframe align="right" width="100%" height="100%" src="/seat_reservation/floor_2" frameborder="0"> </iframe>
      </div>
	<!--3rd Floor: Import from floor/floor_1.html using "iframe" -->
      <div class="page" id="p3">
		<iframe align="right" width="100%" height="100%" src="/seat_reservation/floor_3" frameborder="0"> </iframe>
      </div>
    </div>
  </div>
</div>

<!-- Legend -->
<div class="legend">
  <ol class="table">
    <li class="row row--1">
	  &nbsp &nbsp &nbsp
      <ol class="seats" type="A">
        <li class="seat">
          <input type="checkbox"/>
          <label>Available</label>
        </li>
	  </ol>
	</li>

	<li class="row row--2">
	  &nbsp &nbsp &nbsp
      <ol class="seats" type="A">
        <li class="seat">
          <input type="checkbox"/>
          <checked>Reserved</checked>
        </li>
	  </ol>
	</li>

	<li class="row row--3">
	  &nbsp &nbsp &nbsp
      <ol class="seats" type="A">
        <li class="seat">
          <input type="checkbox" disabled/>
          <occupied>Occupied</occupied>
        </li>
	  </ol>
	</li>
  </ol>
</div>

<!-- Reservation Info.-->
<div id="container">
      	<section id="content">
          <h1>Reserved Info.</h1> <br>
		  <hr>
      <output>
     		  <span>User: {{current_user.username}}</span>
		  </output>
      <br>
		  <output>
        <span>Seats Reserved:
              {% for i in disp %}
              {{i}},
              {% endfor %}
        </span>
  		  </output>
		  <hr>
      {% if show %}
		  <p>Have you find your seat?</p>
      <form method="POST">
        {{ form.hidden_tag() }}
		    {{ form.Confirm() }}
		  <br> <br>
		    {{ form.Reject() }}
		  <hr>
      </form>
		  <br>
      <p>Contact Librarians: <a target="_blank" href="#">Here</a></p>
      {% endif %}
      </section>
</div>
{% endblock %}
