<!doctype html>
<html>
<head>
<meta charset="utf-8">
<link rel="stylesheet" href="../static/css/sign_up.css">
<title>GMDP Login</title>
<style type="text/css">
body {
	background-color: rgba(45,58,85,1);
	img{
  	position:absolute;
  	left:300px;
  	top:150px;
	}
}
</style>
</head>
<form class="login-wrap" method="POST">
	{{ form.hidden_tag() }}
	<div class="login-html">
		<input id="tab-1" type="radio" name="tab" class="student" checked><label for="tab-1" class="tab">Student</label>
		<input id="tab-2" type="radio" name="tab" class="guest"><label for="tab-2" class="tab">Guest</label>
		<div class="login-form">
			<div class="student-htm">
				<div class="group">
					{{ form.id.label(class="label") }}{{ form.id(class="input") }}
				</div>
				<div class="group">
					{{ form.pwd.label(class="label") }} {{ form.pwd(class="input") }}
				</div>
				<div class="group">
					{{ form.email.label(class="label") }} {{ form.email(class="input") }}
				</div>
				<div class="group">
					{{ form.submit(class="button") }}
				</div>
			</div>
			<div class="guest-htm">
				<div class="group">
					{{ form.id.label(class="label") }}{{ form.id(class="input") }}
				</div>
				<div class="group">
					{{ form.pwd.label(class="label") }} {{ form.pwd(class="input") }}
				</div>
				<div class="group">
					{{ form.email.label(class="label") }} {{ form.email(class="input") }}
				</div>
				<div class="group">
					{{ form.submit(class="button") }}
				</div>
			</div>
		</div>
	</div>
</form>

</html>
