<!doctype html>
<html>
<head>
<meta charset="utf-8">
<link rel="stylesheet" href="../../static/css/seat_style.css">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Second Floor</title>
<style type="text/css">
</style>
</head>

<!-- Table C -->
<form method = "POST">
{{ form.hidden_tag() }}
  <div id="floor2_table" class="library">
    <ol class="table">
      <li class="row row--1">
        <ol class="seats" type="A">
          <li class="seat">
            {{ form.seat_id[0] }}{{ form.seat_id[0].label }}
          </li>
          <li class="seat">
            {{ form.seat_id[1] }}{{ form.seat_id[1].label }}
          </li>
          <li class="seat">
            {{ form.seat_id[2] }}{{ form.seat_id[2].label }}
          </li>
          <li class="seat">
            {{ form.seat_id[3] }}{{ form.seat_id[3].label }}
          </li>
          <li class="seat">
            {{ form.seat_id[4] }}{{ form.seat_id[4].label }}
          </li>
  		    <li class="seat">
            {{ form.seat_id[5] }}{{ form.seat_id[5].label }}
          </li>
        </ol>
      </li>

  	<br> <br>
      <li class="row row--2">
        <ol class="seats" type="A">
          <li class="desk"></li>
        </ol>
      </li>
  	<br> <br>

  	<li class="row row--1">
        <ol class="seats" type="A">
  		<li class="seat">
            {{ form.seat_id[6] }}{{ form.seat_id[6].label }}
          </li>
          <li class="seat">
            {{ form.seat_id[7] }}{{ form.seat_id[7].label }}
          </li>
          <li class="seat">
            {{ form.seat_id[8] }}{{ form.seat_id[8].label }}
          </li>
          <li class="seat">
            {{ form.seat_id[9] }}{{ form.seat_id[9].label }}
          </li>
  		<li class="seat">
            {{ form.seat_id[10] }}{{ form.seat_id[10].label }}
          </li>
  		<li class="seat">
            {{ form.seat_id[11] }}{{ form.seat_id[11].label }}
  		</li>
        </ol>
      </li>
    </ol>
  </div>
</form>


</html>
