<!doctype html>
<html>
<head>
<meta charset="utf-8">
<link rel="stylesheet" href="../../static/css/seat_style.css">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Third Floor</title>
<style type="text/css">
</style>
</head>

<!-- Table C -->
<div id="floor3_table" class="library">
  <ol class="table">
    <li class="row row--1">
      <ol class="seats" type="A">
        <li class="seat">
          <input type="checkbox" id="F3-B1" />
          <label for="F3-B1">B1</label>
        </li>
        <li class="seat">
          <input type="checkbox" id="F3-B2" />
          <label for="F3-B2">B2</label>
        </li>
        <li class="seat">
          <input type="checkbox" id="F3-B3" />
          <label for="F3-B3">B3</label>
        </li>
        <li class="seat">
          <input type="checkbox" disabled id="F3-B4" />
          <label for="F3-B4">B4</label>
        </li>
        <li class="seat">
          <input type="checkbox" id="F3-B5" />
          <label for="F3-B5">B5</label>
        </li>
		<li class="seat">
          <input type="checkbox" id="F3-CB" />
          <label for="F3-B6">B6</label>
        </li>
      </ol>
    </li>

	<br> <br>
    <li class="row row--2">
      <ol class="seats" type="A">
        <li class="desk"></li>
      </ol>
    </li>
	<br> <br>

	<li class="row row--1">
      <ol class="seats" type="A">
		<li class="seat">
          <input type="checkbox" id="F3-B7" />
          <label for="F3-B7">B7</label>
        </li>
        <li class="seat">
          <input type="checkbox" disabled id="F3-B8" />
          <label for="F3-B8">B8</label>
        </li>
        <li class="seat">
          <input type="checkbox" id="F3-B9" />
          <label for="F3-B9">B9</label>
        </li>
        <li class="seat">
          <input type="checkbox" id="F3-B10" />
          <label for="F3-B10">B10</label>
        </li>
		<li class="seat">
          <input type="checkbox" id="F3-B11" />
          <label for="F3-B11">B11</label>
        </li>
		<li class="seat">
          <input type="checkbox" id="F3-B12" />
          <label for="F3-B12">B12</label>
		</li>
      </ol>
    </li>
  </ol>
</div>

	
</html>
