<!DOCTYPE html>
<html lang="en">

<head>
  <!-- <link rel="stylesheet" type="text/css" href="/static/css/style.css"> -->
	<meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
	<title>GMDP</title>
    <link rel="icon" type="image/jpg" href="../static/img/umich-logo.jpg">
    <!-- link to css style sheet -->
    <link rel="stylesheet" href="../static/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="../static/css/eden.css">
    <link rel="stylesheet" href="../static/css/styles.css">
</head>

<body>
  <p style="text-align:left;">
	  <a href="https://mdp.engin.umich.edu/gmdp/"> GMDP</a>
</p>
  <hr>
  <form action="" method="post" enctype="multipart/form-data">
    <input type="text" name="username" />
    <input type="password" name="password" />
    <input type="submit" value="login" />
  </form>
  <p> Don't have an account? <a href="../templates/create.html"> <strong> Sign up </strong></a> </p>
</body>
</html>
